* {
	padding:0; margin:0;
	//padding отступ от текста
	//margin отступ от бордера
}

.menu{
	max-width:1000px; min-width:40px; margin:20px auto;
}

.menu ul{
//	background: url(/sw/css/html.gif) repeat-x; display:table row;
	background: #f0f0f0 repeat-x; display:table row;
}

.menu ul li{
	display:table-cell; width auto; height 50px; text-align:center; vertical-align:bottom;
}

.menu ul li a{
	color: grey; font:14px DejaVu Serif Condensed; height 50px; display:table-cell; width:1000px; vertical-align:middle;
}

.menu ul li a:hover{
	text-decoration:none;
}


.main{
	max-width:1000px; min-width:40px; margin:20px auto; background: #069; overflow:hidden; position:relative;
}

.block-left{
	width:250px; background:#ecedee; border:2px solid #999; padding:20px; position:absolute; top:0; left:0; z-index:2; //float:left; 
}
.block{
	width:300px; background:#ecedee; border:2px solid #999; padding:20px;  margin:0 auto; position:relative; z-index:10;
}
.block-right{
	width:250px; background:#ecedee; border:2px solid #999; padding:20px; position:absolute; top:0; right:0;  z-index:20;
}